<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Playlist</title>
    <link rel="stylesheet" href="style.css" />
  </head>
<body>
    <main>
      <main>
        <div class="sidebar">
            <div class="logo">
              <a href="#">
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
              </a>
            </div>
        
            <div class="navigation">
              <ul>
                <li>
                  <a href="#">
                    <span class="fa fa-home"></span>
                    <span>Home</span>
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <span class="fa fa-search"></span>
                    <span>Search</span>
                  </a>
                </li>
        
                <li>
                  <a href="/?squad=squad-a-2022">
                    <span class="fa fas fa-heart"></span>
                    <span>Squad A</span>
                  </a>
                </li>
              </ul>
            </div>
        
            <div class="navigation">
              <ul>
                <li>
                  <a href="/?squad=squad-b-2022">
                    <span class="fa fas fa-heart"></span>
                    <span>Squad B</span>
                  </a>
                </li>
        
                <li>
                  <a href="/?squad=squat-c-2022">
                    <span class="fa fas fa-heart"></span>
                    <span>Squad C</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="policies">
                <ul>
                  <li>
                    <a href="#">Cookies</a>
                  </li>
                  <li>
                    <a href="#">Privacy</a>
                  </li>
                </ul>
              </div>
           </div>
          
            <div class="main-container">
                <div class="topbar">
                  <div class="prev-next-buttons">
                    <button type="button" class="fa fas fa-chevron-left"></button>
                    <button type="button" class="fa fas fa-chevron-right"></button>
                  </div>
            
              <div class="navbar">
                <ul>
                  <li>
                    <a href="#">Premium</a>
                  </li>
                  <li>
                    <a href="#">Support</a>
                  </li>
                  <li>
                    <a href="#">Download</a>
                  </li>
                  <li class="divider">|</li>
                  <li>
                    <a href="#">Sign Up</a>
                  </li>
                </ul>
                <button type="button">Log In</button>
              </div>
            </div>
